footer
    .wrapper
        .footer_top
            .footer_top-col
                h3 О нас
                .footer_nav-1
                    a(href="#") О компании
                    a(href="#") Отложенные
                    a(href="#") Мы и СМИ
                    a(href="#") База знаний
                    a(href="#") Контакты
                    a(href="#") Лента событий
            .footer_top-col
                h3 Сервис
                .footer_nav-1
                    a(href="#") Условия доставки
                    a(href="#") Условия оплаты
                    a(href="#") Условия возврата
                    a(href="#") Оптовикам
                    a(href="#") Гарантийные обязательства
                    a(href="#") Конфиденциальность
            .footer_top-col
                h3 Способы оплаты
                .footer_nav-2
                    a(href="#")
                        img(src='img/pay/1.png' alt='' title='')
                    a(href="#")
                        img(src='img/pay/2.png' alt='' title='')
                    a(href="#")
                        img(src='img/pay/3.png' alt='' title='')
                    a(href="#")
                        img(src='img/pay/4.png' alt='' title='')
                    a(href="#")
                        img(src='img/pay/5.png' alt='' title='')
                    a(href="#")
                        img(src='img/pay/6.png' alt='' title='')
            .footer_top-col
                h3 Способы доставки
                .footer_nav-2
                    a(href="#")
                        img(src='img/delivery/post.png' alt='' title='')
                    a(href="#")
                        img(src='img/delivery/line.png' alt='' title='')
                    a(href="#")
                        img(src='img/delivery/ems.png' alt='' title='')
    .wrapper
        .footer_bottom
            .footer_bottom-left &#169; 2016 «PEST 911»
            .footer_bottom-center
                .footer_nav-2
                    a(href="#")
                        img(src='img/socio/vk.png' alt='' title='')
                    a(href="#")
                        img(src='img/socio/fb.png' alt='' title='')
                    a(href="#")
                        img(src='img/socio/gl.png' alt='' title='')
                    a(href="#")
                        img(src='img/socio/yt.png' alt='' title='')
            .footer_bottom-right
                .privacy Создание сайта — компания
                    |
                    |
                    a(href="#") «Пиком»