doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet" href="css/style.css")

        title Index

    body.index
        video(autoplay muted loop id="myVideo")
            source(src="video/Resident_Evil.mp4" type="video/mp4")
        .wrapper
            .content
                .left
                    .mail для почтовых отправлений
                    |
                    |
                    a(href="mailto: quest@madcops.by") quest@madcops.by

                .center
                    h1 Самый масштабный
                        br
                        | квест-перформанс Беларуси
                    img.logo(src="img/logo.png" alt='logo' title='logo')
                    h2
                        span Скоро
                        br
                        | весна 2017
                    form.form
                        fieldset
                            span.form-title
                                span Оставьте свои данные для записи на тестовые игры
                            .group
                                input(type='text' name='name' id='name' required)
                                label(for='name') Ваше имя
                                    |
                                    |
                                    span *
                            .group
                                input(type='text' name='phone' id='phone' required)
                                label(for='phone') Ваш телефон
                                    |
                                    |
                                    span *
                            .group
                                input(type='submit' value='Отправить')
                    img.madcops(src="img/MadCops.png" alt='MadCops' title='MadCops')
                    .partners
                        img(src="img/logo-1.png" alt='questplay' title='questplay')
                        img(src="img/logo-3.png" alt='клаустрофобия' title='клаустрофобия')
                        img(src="img/logo-2.png" alt='request' title='request')

                .right
                    .address Минск
                    .phone
                        a(href="tel:+375291937041") +375 (29) 193-70-41






