@font-face {
  font-family: 'stem';
  src:  url('../fonts/stem.eot');
  src:  url('../fonts/stem.svg');
  src:  url('../fonts/stem.woff') format('woff');
  src:  url('../fonts/stem.woff2') format('woff2');
  src:  url('../fonts/stem.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
