@import "smart-grid";

body {
  color: $color-1;
  font-family: 'stem';
}
h1 {
  font-size: 27.5px;
  font-weight: 100;
  letter-spacing: -1.1px;
  padding: 30px 85px 0 47px;
  margin-bottom: 0;
}
.logo {
  box-sizing: border-box;
  margin-top: -48px;
  padding-left: 52px;
  width: 100%;
}
h2 {
  color: $color-1;
  font-size: 16px;
  margin-top: 34px;
  text-align: center;
  span {
    font-size: 20.5px;
    letter-spacing: 32.5px;
    line-height: 18px;
    text-transform: uppercase;
  }
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}
.content {
  @include row-flex;
  position: relative;
  z-index: 1;
}
.left,
.right,
.center {
  @include col;
}
.left,
.right {
  @include size(3);
  @include size-md(12);
}
.center {
  @include size(6);
  @include size-md(12);
  background: url("../img/bg.png") no-repeat;
  background-size: cover;
  padding-bottom: 35px;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;
  padding-left: 8%;
  .mail, a {
    color: $color-0;
    text-shadow: -0.9px 0.5px 88.2px #000000;
  }
  .mail {
    font-size: 12px;
  }
  a {
    font-size: 13px;
  }
}
.right {
  font-size: 16px;
  padding-left: 93px;
  padding-top: 20px;
  text-shadow: -0.9px 0.5px 88.2px #000000;
  .address,
  .phone {
    &:before {
      background: url("../img/sprite.png");
      content: '';
      display: inline-block;
      height: 19px;
      position: relative;
    }
  }
  .address {
    margin-bottom: 5px;
    &:before {
      background-position: 11px 0;
      margin-right: 5px;
      top: 2px;
      width: 11px;
    }
  }
  .phone {
    a {
      color: $color-1;
      letter-spacing: -0.3px;
      text-decoration: none;
    }
    &:before {
      background-position: 0 0;
      margin-right: 2px;
      top: 3px;
      width: 14px;
    }
  }
}
fieldset {
  border: 3px solid $color-3;
  border-top: none;
  margin: 0 90px;
  padding: 0;
}
.form {
  margin-bottom: 85px;
  margin-top: 80px;
  position: relative;
  z-index: 2;
  &-title {
    color: $color-1;
    display: block;
    font-size: 16px;
    margin: -26px auto 18px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 3;
    span {
      display: block;
      margin: 0 auto;
      max-width: 260px;
      width: 60%;
    }
    &:after,
    &:before {
      background: $color-3;
      content: '';
      display: block;
      height: 3px;
      position: absolute;
      width: 15%;
    }
    &:after,
    &:before {
      background: $color-3;
      content: '';
      display: block;
      height: 3px;
      position: absolute;
      top: 26px;
      width: 15%;
    }
    &:after {
      left: 0;
    }
    &:before {
      right: 0;
    }
  }
  .group {
    display: flex;
    justify-content: center;
    position: relative;
  }
  input[type='text'] {
    height: 36px;
    background-color: $color-5;
    border: solid 2px $color-4;
    color: $color-4;
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 36px;
    margin: 0 auto 20px;
    outline: none;
    padding: 0 10px;
    width: 75%;
    &:focus + label {
      opacity: 0;
    }
  }
  input[type='submit'] {
    background-color: $color-3;
    border: solid 2px $color-6;
    border-radius: 2px;
    box-shadow: 0 3px 0 0 $color-6;
    color: $color-1;
    height: 42px;
    font-size: 16px;
    font-weight: 700;
    margin: 0 auto 25px;
    outline: none;
    opacity: 0.96;
    width: 195px;
    &:hover {
      opacity: 0.8;
    }
    &:focus {
      border-top: solid 1px $color-6;
      box-shadow: 0 1px 0 0 $color-6;
    }
  }
  label {
    color: $color-4;
    font-weight: 700;
    position: absolute;
    top: 10px;
    left: 13%;
    text-transform: uppercase;
    span {
      color: $color-3;
    }
  }
}
.madcops {
  margin: 0 auto 55px;
  display: block;
}
.partners {
  display: flex;
  justify-content: space-between;
  padding: 0 35px;
}

