@media (max-width: 1260px) {
  .right {
    padding-left: 4%;
  }
  .partners {
    flex-wrap: wrap;
    justify-content: space-around;
    img:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
@media (max-width: 1023px) {
  .content {
    flex-direction: column-reverse;
  }
  .right {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: -75px;
    padding-right: 30px;
  }
  .center {
    padding-bottom: 150px;
    padding-top: 100px;
  }
  .left {
    margin-top: -60px;
  }
}
@media (max-width: 500px) {
  h1 {
    padding: 30px 25px 0;
  }
  .logo {
    margin-top: 0;
  }
  fieldset {
    margin: 0 25px;
  }
  .form-title {
    font-size: 14px;
  }
}

